<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    .tooltip-inner {
       max-width: 400px;
    }
    </style>

    <title>DigiCampus Proto 0.0.1</title>
  </head>
  <body>

    <div class="container">
      <ol class="breadcrumb">
      	<li class="breadcrumb-item"><a href="{{app_root}}/">home</a></li>
	<li class="breadcrumb-item"><a href="{{app_root}}/{{exam.id}}">{{exam.id}}</a></li>
      </ol>

      <ul>
	<!-- <li data-toggle="tooltip" data-placement="bottom" title="{{exam.prompt}}">Prompt</li> -->
  <li> Prompt</li>
  {{exam.prompt}}
	<li>Clusters in this exam: <a href="{{app_root}}/{{exam.id}}/c/TFIDF">[TFIDF]</a> <a href="{{app_root}}/{{exam.id}}/c/BERT">[BERT-NN]</a></li>
      </ul>

      {% for answer in exam.docs %}
      <div class="row">
	<div class="col-3">
	  {{answer.id}}
	</div>
	<div class="col-3">
	  <a href="{{app_root}}/{{exam.id}}/e/{{loop.index0}}/TFIDF">[TFIDF]</a>&nbsp;<a href="{{app_root}}/{{exam.id}}/e/{{loop.index0}}/BERT">[BERT-NN]</a>
	</div>
	<div class="col-1">
	  {{answer.grade}}
	</div>
	<div class="col-5" data-toggle="tooltip" data-placement="bottom" title="{{answer.text[:300]}}">
	  {{answer.text[:35]}}...
	</div>
      </div>
	{% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
